@charset "UTF-8";

/* CSS 코딩구역 */
/* 이 방식은 페이지 내부에 구역을 잡고 쓰는 인터널 방식 */
/* 문법 : 선택자{ 속성 : 값;} */
.header{
  text-align: center;
}
.main{
  width: 900px;
  margin: 0 auto;
}
.main-contents{
  padding: 0 20px;
}
.aside{
  float: right;
  width: 300px;
  }
  .hotpho{
    padding: 0 10px;
  }
ul{
  list-style: none;
  padding: 0 10px;
}
li{
  float: left;
  width: 50%;
  margin: 10px 0;
}
li img{
  width: 130px;
}

footer {
  text-align: center;
  /* 안쪽여백 위아래 10px 양쪽 0 */
  padding: 10px 0;
}